$white: #ffff;
$whiteDarker: #f8f3f3d6;
$silverDarker: #bab3b3cb;
$black: #0b0b0bdd;
$green: rgb(71, 218, 101);
$greenB: rgb(29, 210, 65);
$silver: rgba(122, 113, 113, 0.076);
$blackLight: rgba(0, 0, 0, 0.798);
$greenC: rgb(44, 148, 44);
$blackLighter: rgba(21, 21, 21, 0.633);